* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f8f8f8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6b35;
  color: white;
  padding: 18px 50px;
}

.navbar h2 {
  font-size: 28px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  color: yellow;
}

.page {
  text-align: center;
  margin-top: 80px;
}

.menu-page{
    padding:40px;
}

.menu-page h1{
    text-align:center;
    margin-bottom:40px;
}

.food-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.food-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
    transition:.35s;
}

.food-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 35px rgba(0,0,0,.18);
}

.food-image{
    position:relative;
    overflow:hidden;
}

.food-image img{
    width:100%;
    height:230px;
    object-fit:cover;
    transition:.4s;
}

.food-card:hover img{
    transform:scale(1.08);
}

.rating{
    position:absolute;
    top:12px;
    right:12px;
    background:white;
    padding:6px 10px;
    border-radius:20px;
    font-size:14px;
    font-weight:bold;
}

.badge{
    position:absolute;
    bottom:12px;
    left:12px;
    background:#ff6b35;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
}

.food-info{
    padding:20px;
}

.food-info h3{
    margin-bottom:10px;
}

.food-info p{
    color:#666;
    margin-bottom:20px;
}

.food-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.food-bottom h2{
    color:#ff6b35;
}

.food-bottom button{
    border:none;
    background:#ff6b35;
    color:white;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;
}

.food-bottom button:hover{
    background:#e85d2a;
}

.auth-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
}

.auth-form{
    background:white;
    padding:35px;
    width:350px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.auth-form h2{
    text-align:center;
    margin-bottom:20px;
}

.auth-form input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
}

.auth-form button{
    width:100%;
    padding:12px;
    border:none;
    background:#ff6b35;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

.auth-form button:hover{
    background:#e85d2a;
}

.welcome {
  color: white;
  font-weight: bold;
}

.logout-btn {
  background: white;
  color: #ff6b35;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: #f5f5f5;
}

.cart-page{
    width:90%;
    margin:auto;
    padding:40px 0;
}

.cart-page h1{
    text-align:center;
    margin-bottom:40px;
}

.cart-card{
    display:flex;
    gap:30px;
    background:white;
    border-radius:15px;
    padding:20px;
    margin-bottom:25px;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
}

.cart-card img{
    width:220px;
    height:170px;
    object-fit:cover;
    border-radius:12px;
}

.cart-info{
    flex:1;
}

.cart-info h2{
    margin-bottom:10px;
}

.cart-info p{
    margin:8px 0;
}

.cart-info h3{
    color:#ff6b35;
}

.remove-btn{
    margin-top:15px;
    padding:10px 18px;
    background:red;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.bill{
    text-align:right;
    margin-top:40px;
}

.checkout-btn{
    margin-top:15px;
    padding:15px 30px;
    border:none;
    background:#ff6b35;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

.search-bar{
    width:40%;
    display:block;
    margin:25px auto;
    padding:15px;
    border-radius:10px;
    border:1px solid #ddd;
    font-size:17px;
}

.categories{
    display:flex;
    justify-content:center;
    gap:15px;
    margin:30px 0;
    flex-wrap:wrap;
}

.categories button{
    padding:10px 20px;
    border:none;
    background:#ff6b35;
    color:white;
    border-radius:25px;
    cursor:pointer;
    transition:.3s;
}

.categories button:hover{
    transform:scale(1.05);
    background:#e85d2a;
}

.featured-section{
    width:90%;
    margin:70px auto;
}

.featured-section h2{
    text-align:center;
    margin-bottom:35px;
    font-size:36px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
    gap:20px;
}

.category-card{
    background:white;
    padding:25px;
    text-align:center;
    border-radius:15px;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.category-card:hover{
    background:#ff6b35;
    color:white;
    transform:translateY(-8px);
}

.hero{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:90vh;
}

.hero-left{
    width:48%;
}

.hero-left h1{
    font-size:70px;
    line-height:80px;
    margin:20px 0;
}

.hero-left span{
    color:#ff6b35;
}

.hero-left p{
    font-size:20px;
    color:#666;
    line-height:35px;
}

.tag{
    background:#ffe5da;
    color:#ff6b35;
    padding:10px 18px;
    border-radius:30px;
    font-weight:bold;
}

.hero-btn{
    margin-top:35px;
    padding:18px 40px;
    border:none;
    border-radius:12px;
    background:#ff6b35;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.hero-btn:hover{
    transform:translateY(-4px);
}

.hero-right{
    width:48%;
}

.hero-right img{
    width:100%;
    border-radius:30px;
    box-shadow:0 30px 60px rgba(0,0,0,.25);
}

.quantity-controls{
    display:flex;
    align-items:center;
    gap:15px;
    margin:15px 0;
}

.quantity-controls button{
    width:35px;
    height:35px;
    border:none;
    border-radius:50%;
    background:#ff6b35;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

.quantity-controls button:hover{
    background:#e85d2a;
}

.quantity-controls span{
    font-size:18px;
    font-weight:bold;
    min-width:25px;
    text-align:center;
}
.ai-box{
    background:white;
    padding:30px;
    border-radius:18px;
    margin:30px auto;
    max-width:900px;
    box-shadow:0 8px 25px rgba(0,0,0,.1);
}

.ai-box h2{
    color:#ff6b35;
    margin-bottom:10px;
}

.ai-box p{
    color:#666;
    margin-bottom:15px;
}

.ai-box input{
    width:100%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
    margin-bottom:15px;
}

.ai-box>button{
    width:100%;
    padding:15px;
    border:none;
    background:#ff6b35;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:17px;
}

.ai-box>button:hover{
    background:#e85d2a;
}

.ai-suggestions{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin:20px 0;
}

.ai-suggestions button{
    border:none;
    padding:10px 15px;
    border-radius:20px;
    cursor:pointer;
    background:#ffe7dc;
    color:#ff6b35;
}

.ai-result{
    margin-top:25px;
    text-align:center;
}

.ai-result img{
    width:250px;
    height:180px;
    object-fit:cover;
    border-radius:15px;
    margin:15px 0;
}
.ai-result button{
    margin-top:20px;
}

.empty-cart{
    text-align:center;
    margin-top:80px;
}

.empty-cart h1{
    font-size:80px;
}

.empty-cart p{
    margin:15px 0;
    color:gray;
}